Package: hydra-reverse-proxy
Version: 0-1
Architecture: all
Maintainer: innotech
Installed-Size: 16777
Section: custom
Priority: extra
Description: Hydra Reverse Proxy
 Reverse proxy service to applications balanced by hydra.
 .

